[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
opencv-python = "*"
tensorflow = "*"
pygame = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
